#contenido
{
    width: 25%;
    height: 30%;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 10;
    color: white;
    border: solid white;
}

#cesium{
    
    position: relative;
    
}

#formulario
{
    width: 60%;
    height: 70%;
    top: 280px;
    right: 10px;
    position: absolute;
    z-index: 10;
    color: greenyellow;
    border: solid white;
}
